numpy>=1.14.0
opencv-python>=4.5.5.64
Flask>=1.1.2
flask_cors>=4.0.1
gunicorn>=20.1.0
python-dotenv>=1.0.1
flask-sqlalchemy>=2.5.1
flask-bcrypt>=1.0.1
flask-mail>=0.9.1
PyMySQL>=1.0.2
reportlab>=3.6.0
better-profanity>=0.7.0
textblob>=0.17.1
resend>=0.8.0